<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.focus.delivery">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:required="false" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">
        <service
            android:name="com.focus.delivery.service.DolibarrService"
            android:exported="false"
            android:label="@string/synchronization_service_name" />

        <activity
            android:name="com.focus.delivery.view.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.focus.delivery.view.activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.focus.delivery.view.activity.MainActivity"
            android:label="@string/title_manage_invoices_fragment"
            android:theme="@style/AppTheme"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.focus.delivery.view.activity.SynchronizationActivity"
            android:label="@string/title_activity_synchronization"
            android:theme="@style/AppTheme"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="ovh.snacking.snacking.view.SynchronizationActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.focus.delivery.service.DolibarrBroadcastReceiver"
            android:label="Broadcast Receiver">
        </receiver>
    </application>

</manifest>